* {
  margin: 1px solid red;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh
}
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');